.card-container {
  height: 105em;
  width: 53em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: silver;
}

.single-card {
  border: 1px solid black;
  height: 11em;
  width: 10em;
  border-radius: 20%;
  margin: 1em;
  box-shadow: 0.25em 0.25em 0.5em black;
  background-color: white;
}

.single-card:hover {
  box-shadow: 0.25em 0.25em 1.5em black;
  margin-top: -0.1em;
}

.circle {
  position: absolute;
  margin: 0.3em 0 0 0.35em;
  padding: 4.5em;
  border-radius: 99%;
  border: 2.5px solid silver;
  opacity: 30%;
  background-image: linear-gradient(white, black);
}

.team-logo {
  height: 7.5em;
  width: 6.5em;
  margin: 1.5em 0 0.5em 1.75em;
  outline-offset: 0.63em;
}

.card-title {
  font-size: small;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5em;
}

#modal {
  border: 1px solid black;
  background-color: white;
  height: 5em;
  width: 15em;
  position: absolute;
  top: 10em;
  left: 15em;
  padding: 2em;
}

.show-info {
  display: none;
}
