.hockey-app {
  position: relative;
  z-index: 1;
}

.card-container {
  height: 105em;
  width: 53em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: silver;
}

.circle {
  position: absolute;
  margin: 0.3em 0 0 0.35em;
  padding: 4.5em;
  border-radius: 99%;
  border: 2.5px solid silver;
  opacity: 30%;
  background-image: linear-gradient(white, black);
}

.team-logo {
  height: 7.5em;
  width: 6.5em;
  margin: 1.4em 3.9em 0.5em 1.75em;
  outline-offset: 0.63em;
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0 0 1em;
}

.single-logo-container {
  border: 1px solid black;
  height: 11em;
  width: 10em;
  border-radius: 20%;
  margin: 0 2.5em 2em 0;
  box-shadow: 0.25em 0.25em 0.5em black;
  background-color: white;
  cursor: pointer;
}

.single-logo-container:hover {
  box-shadow: 0.25em 0.25em 1.5em black;
  margin-top: -1em;
}

.team-name {
  display: flex;
  justify-content: center;
}

.team-modal {
  position: fixed;
  top: 10em;
  left: 30%;
  z-index: 2;
}
